# client build
/client/build
/client/.git

# dependencies
/client/node_modules
/server/node_modules

# build
/server/build
/server/.gitignore
/server/.git
# Env variables
/server/nodemon.json
#vscode
/server/.vscode
/client/.vscode