# client build
/client/build

# dependencies
/client/node_modules
/server/node_modules

# build
/server/build
/server/.gitignore
# Env variables
/server/nodemon.json
#vscode
/server/.vscode
/client/.vscode